.contact {
  width: 100%;
  height: 90vh;
  display: flex;
  
}

.contact .leftSide {
  height: 120%;
  flex: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact .rightSide {
  height: 100%;
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 40px;
   flex-direction: column;
  padding-bottom: calc(200px + 24px); 
}

.contact .rightSide h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 10;
  height: 40px;
  font-size: 50px;
  margin-left: 30px;
  color: orange;
}

form {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding: 30px;
}

form input {
  height: 40px;
  width: 80%;
  border: none;
  border-bottom: 1px solid orange;
  color: black;
}

form textarea {
  margin-top: 15px;
  height: 30px;
  width: 80%;
  border: none;
  border-bottom: 1px solid orange;
  color: black;
}
input::placeholder,
textarea::placeholder {
  font-weight: bold;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
form input:focus,
textarea:focus {
  outline: none;
  
}

form label {
  margin-top: 15px;
  color: grey;
}

form button {
  margin-top: 40px;
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: orange;
  color: whitesmoke;
  font-size: 15px;
  cursor: pointer;
}
table,  tr{
 width: 90%;
  align-items: center;
  justify-content: center;
  background-position: center;
  margin-top: 20px;
  border: 5px solid orange;
  text-align: center;
  vertical-align: middle;
  
  border-collapse: collapse;
  padding: 8px;
  margin: 0 auto;

}